<div class="linkslist" style="margin-top:60px;">
  <!--p class="asidetitle"><%= __('links') %></p-->
  <p class="asidetitle">基情链接</p>
    <ul>
      <!--li><a href="http://yangjian.me" target="_blank" title="YangJian">Alimon's Blog</a></li>
      <li><a href="http://hexo.io" target="_blank" title="Hexo">Hexo</a></li-->
      <li><a href="http://oucg.sinaapp.com/" target="_blank" title="ouchengeng's blog">欧小本的小站</a></li>
      <li><a href="http://faneshion.github.io/fancy" target="_blank" title="faneshion's blog">范老师不要域名</a></li>
    </ul>
</div>
